streamlit
pandas
openpyxl
requests
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-auth
google-generativeai
gspread-formatting
gspread
pillow
jinja2
numpy
weasyprint
nltk
deep-translator
pytube
yt-dlp[curl-cffi]>=2025.1.26
